.footer-address {
    display: flex;
    width: 270px;
    flex-direction: column;
}

.address {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;

    &-text {
        color: $white-color;
    }
}

