.logo {
    color: $black-color;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    &-word {
        color: $accent-color;
    }

    // @media screen and (max-width: 1199px) {
    //     color: $black-color;
    //     text-decoration: none;
    //     font-family: 'Raleway', sans-serif;
    //     font-weight: 700;
    //     font-size: 24px;
    //     line-height: 1.16;
    //     letter-spacing: 0.03em;
    //   }
}


.footer-logo {
    display: block;
    padding: 0;
    margin: 0 0 20px;

    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: $white-color;
}