.border::after {
    position: absolute;
    content: "";
    display: flex;
    width: 100%;
    border: 1px solid #ECECEC;
}

.buttons {
    
    @media screen and (max-width:767px) {
        margin-top: 120px
    }

    @media screen and (min-width: $tablet) {
        margin-top: $margin-mobile;
    }

    @media screen and (min-width: $desktop) {
        margin-top: $margin-desktop;
    }
}

.buttons-block {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;

    @media screen and (min-width: $tablet) {

        justify-content: center;

    }

    @media screen and (max-width: 319px) {

        display: block;

    }
}

.button-item:not(:last-child) {
    margin-right: 8px;

    @media screen and (min-width: 400px) and (max-width: 767px) {

        &:nth-child(3n) {
            margin-right: 0px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 15px;
        }

    }

    @media screen and (max-width: 399px) {

        &:nth-child(2n) {
            margin-right: 0px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    @media screen and (max-width: 319px) {

        &:not(:last-child) {
            margin-bottom: 15px;
        }

    }

}
.filtr {
    margin-top: 32px;
}
.filtr-list {
    display: flex;
    flex-wrap: wrap;
}

.filtr-item {
    @media screen and (max-width: 767px) {

        max-width: 450px;
        width: 100%;
        margin-bottom: 30px;
        margin-right: auto;
        margin-left: auto;

        &:last-child {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: $tablet) and (max-width: 1199px) {

        width: calc((100% - 30px) / 2);

        &:not(:nth-child(2n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+2)) {
            margin-bottom: 30px;
        }

    }

    @media screen and (min-width: $desktop) {

        width: calc((100% - 60px) / 3);

        &:not(:nth-child(3n)) {
            margin-right: 30px;
        }

        &:not(:nth-last-child(-n+3)) {
            margin-bottom: 30px;
        }

    }

    &:hover,
    &:focus {
         box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
         0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
}

.filtr-link {
    display: block;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $accent-color;
    }

    &:hover .box-hover,
    &:focus .box-hover {
        border: none;
        transform: translateY(0);
        opacity: 1; 
    }
}

.img-box {
    position: relative;
    overflow: hidden;
}

.filtr-text {
    font-size: 18px;
    line-height: 1.6;
    color: $white-color;
    margin: 0;  
    padding: 63px 24px;
}

.box-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-portfolio {
    display: block;
    padding: 20px 24px;
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}

.filtr-title { 
    margin: 0;
    color: $primary-text-color;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
 
.text {
    margin: 5px 0 0;
    color: $list-text-color;
    font-size: 16px;
    line-height: 1.9;
}


