// Colors

$primary-text-color: #212121;
$list-text-color: #757575;
$accent-color: #2196F3;
$primary-white-color: #ffffff;
$secondary-bg-color: #F5F4FA;
$footer-bg-color: #2F303A;
$hero-bg-color: rgba(47, 48, 58, 0.8);
$hero-overlay: rgba(47, 48, 58, 0.4);
$white-color: #ffffff;
$black-color: #000000;
$social-icon-color: #AFB1B8;

// Breakpoints

$mobile: 480px;
$tablet: 768px;
$desktop: 1200px;

// Margins & Paddings

$margin-mobile: 60px;
$padding-mobile: 60px;
$margin-desktop: 94px;
$padding-desktop: 94px;

